body {
  font-family: Arial, sans-serif;
  background-image: url('../img/complaint.jpeg');
  background-repeat: repeat; /* Repeat the background image vertically and horizontally */
  background-size: cover; /* Scale the background image to cover the form */
}
#view{
  position: absolute;
  top: 250px; /* Adjust the vertical position */
  right: 150px;
  background-color: #284885;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border: 3px solid #ccc;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4); /* Add a background color */
  
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea,
form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

form button#Submit {
 
   background-color: #284885;
  color: #fff;
 
}
form button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
form button#Cancel{
  background-color: #ccc;
  margin-right: 10px;
}

