.formbgimg
{
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
