hr
{
    width: 75%;
    height:3px;
    background-color:brown;
    border-width: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Style for the slideshow */
.slideshow-container 
{
    max-width: 100%;
    position: relative;
    margin: auto;
    height: 610px; /* Set a fixed height for the slideshow */
}
  
/* Style for the slides */
.slide 
{
    display: none;
    height: 100%;

}
  
/* Style for the slideshow navigation dots */
.dot 
{
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}
  
/* Style for the active dot */
.active 
{
    background-color: #717171;
}

.slide img 
{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* slideshow css end */

/* area 01 */

.area1body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    border: 5px solid rgb(237, 226, 226);
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(246, 232, 215, 0.714);
}

  /* Style for the container */
.container 
{
    display: flex;
    align-items: center;
}


/* Style for the content */
.content 
{
    text-align: center;
}

/* area  01 end */

/* area 02 */
.insbody 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
}

.inscard-container {
    display: flex;
  }

  /* Style for the cards */
.inscard 
{
    width: 300px;
    margin-right: 20px;
    padding: 20px;
    background-color: #f1f1f196;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Style for the icon */
.inscard .icon 
{
    margin-bottom: 10px;
}

/* Style for the card title */
.inscard h2 
{
    font-size: 18px;
    margin-bottom: 10px;
}

/* Style for the card description */
.inscard p 
{
    font-size: 14px;
}
/* area 02 end */

/* area 03 */
.head2
{
    text-align: center;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px; 
    margin-bottom: 30px;

}

.profiletable
{
    margin: 0 auto;
}

.profilebody
{
    display: flex;
    justify-content: center;
}

.profcard 
{
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    width: 300px;
    height: 500px;
    margin: 10px;
    text-align: center;
    padding: 15px;
}
  
.title 
{
    color: grey;
    font-size: 18px;
}
  
button 
{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
a 
{
    text-decoration: none;
    font-size: 22px;
    color: black;
}
  
button:hover, a:hover 
{
    opacity: 0.7;
}
/* area 03 end */





