body {
	font-family: Arial, sans-serif;
	 background-image: url('../img/complaint.jpeg');
     background-repeat: repeat; /* Repeat the background image vertically and horizontally */
     background-size: cover; /* Scale the background image to cover the form */
}

h1 {
	text-align: center;
	margin-top: 20px;
}
#view{
  position: absolute;
  top: 100px; /* Adjust the vertical position */
  left: 150px;
  background-color: #284885;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	padding: 10px;
	text-align: center;
}

th {
	background-color: #333;
	color: #fff;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

a {
	margin-right: 10px;
	text-decoration: none;
	color: blue;
}

a:hover {
	text-decoration: underline;
}
